body {
  background-color: rgb(169, 243, 243);
}

.todo {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.input-container > input {
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
}

.input-container > button {
  width: 45px;
  height: 40px;
  border-radius: 20px;
  color: rgb(242, 93, 93);
  font-size: 1.5rem;
  margin-top: 10px;

}
.container{
    margin-top:20px;
    height: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

}
.todo-list {
  width: 500px;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(235, 238, 240);
    padding: 0px 10px;
    margin-bottom: 10px;
}
.actions > button {
  width: 75px;
  height: 30px;
  border-radius: 10px;
  background-color: salmon;
  color: rgb(255, 255, 255);
  font-size: 1.01rem;
}